@model IEnumerable<Practic.Models.PartnersProduct>

@{
    ViewData["Title"] = "подробнее";
}

<table>
    @foreach (var item in Model)
    {
        <div>
            <h4>Продажа:</h4>
            <hr />
            <dl class="row">
                <dd class="col-sm-10">
                    <a>колличество: </a>
                    @Html.DisplayFor(mod => item.Quantity)
                </dd>
                <dd class="col-sm-10">
                    <a>дата: </a>
                    @Html.DisplayFor(mod => item.SaleDate)
                </dd>
                <dd class="col-sm-10">
                    <a>партнер: </a>
                    @Html.DisplayFor(mod => item.Partner.Title)
                </dd>
                <dd class="col-sm-10">
                    <a>товар: </a>
                    @Html.DisplayFor(mod => item.Product.Title)
                </dd>
            </dl>
        </div>
    }
</table>